<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/err.css">
</head>
<body>
<div id="all">
    <div id="container">
        <div id="top">
            <div id="nva">
                <div id="nvaleft">小小相册</div>
                <ul>
                    <li><a href="http://127.0.0.1:3000/">全部相册</a></li>
                </ul>
            </div>
        </div>
        <div id="mid">
            <h1>页面找不到了</h1>
            <img src="/images/err.jpg">
        </div>
    </div>

</div>


</body>
</html>